
<body>
<a href="main">Main</a>
<div>
    <form method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Register</button>
    </form>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Activity</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{active}}</td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</div>

</body>
</html>
